.ServiceWrapper {
    flex-direction: column;
}

.serviceCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 80px;
}

.serviceCard {
    padding: 40px 30px;
    border-radius: 10px;
    border: 2px solid #1e1e1e;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    transition: .6s;
}

.serviceCard:hover {
    background-color: #bff747;
    box-shadow: 4px 4px 1px #1e1e1e;
}
.serviceCard i{
    font-size: 55px;
}

.serviceCard h2{
    font-family: 'Syne';
    font-size: 35px;
}

.serviceCard img {
    margin-top: 10px;
}

.Title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 80px 0;
    align-items: center;
}

.Title h3 {
    font-size: 45px;
    font-family: 'Syne';
}

.TItle img{
    height: 40px;
    margin-left: 10px;
    animation: Anim_roll 5s infinite linear;
}

.Title p{
    font-size: 18px;
    width: 40%;
    text-align: end;
}

@keyframes Anim_roll {
    100% {
        transform: rotate(360deg);
    }
}

.service_bottom_container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
}

.serviceImg {
    width: 60%;
    border-radius: 10px;

    position: relative;
}
.serviceImg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
}
.serviceImg img {
    width: 100%;
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
}
.serviceImg:hover img {
    transform: scale(1.1);
}

.service_contentWrapper {
    width: 40%;
    padding: 50px 30px;
    background-color: #1e1e1e;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.service_contentWrapper .content {
    color: #fff;
    padding: 18px;
    width: 100%;
    text-align: center;
    border-bottom: 0.2px solid rgba(131, 131, 131, 0.3);
}

.service_contentWrapper .content h2{
    font-size: 3.5rem;
    font-family: 'Syne';
    margin-bottom: 10px;
    color: #bff747;
}

.service_contentWrapper .content p {
    margin-bottom: 30px;
}

@media screen and (max-width ) {}