.contactWrapper {
    background-color: #000;
    color: #fdfde1;
}

.Content {
    width: 50%;
    position: relative;
}

.contactWrapper h1 {
    text-align: start;
    line-height: 70px;
}

.contactWrapper h1 img {
    width: 40px;
    height: 40px;
}

.contactWrapper p {
    font-size: 16px;
    width: 70%;
    margin: 18px 0;
}

.contactWrapper .socialWrapper{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.detail {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.detail p {
    color: #bff747;
}

.detail p span{
    display: block;
    color: #fdfde1;
}

.social {
    display: flex;
    gap: 16px;
}

.social i {
    font-size: 20px;
    cursor: pointer;

    transform: .6s;
}

.social i:hover {
    color: #bff747;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.inputWrapper {
    height: 46px;
    width: 100%;
}

.inputWrapper input {
    background-color: transparent;
    border: 0.2px solid #bff74736;
    outline: none;
    width: 100%;
    height: 100%;
    color: #fdfde1;
    padding: 0 8px;
}

textarea {
    height: 100px;
    width: 100%;
    padding: 5px 8px;
    background-color: transparent;
    border: 0.2px solid #bff74736;
    outline: none;
    color: #fdfde1;
}

textarea:focus {
    border-color: #bff747;
}

.inputWrapper input:focus {
    border-color: #bff747;
}

.form button{
    width: 220px;
}

#arrow {
    position: absolute;
    bottom: 20%;
    right: 30%;
    height: 100px;
    width: 200px;

    animation: anim_top_Down 1s infinite linear alternate;
}

@keyframes anim_top_Down {
    0% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(0px);
    }

    100%{
        transform: translateY(-10px);
    }
}


@media screen and (max-width:1100px) {
    .contactWrapper {
        flex-direction: column;
    }

    .Content, .form {
        width: 100%;
    }

    .form {
        margin-top: 100px;
    }
}

@media screen and (max-width:768px) {
    #arrow {
        display: none;
    }

    .contactWrapper h1 {
        line-height: 20px;
    }
}

@media screen and (max-width:425px) {
    .contactWrapper h1 {
        line-height: 50px;
    }
}
@media screen and (max-width:375px) {
    .contactWrapper h1 {
        line-height: 60px;
    }
}

@media screen and (max-width:320px) {
    .contactWrapper h1 {
        line-height: 50px;
    }
}