@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syne:wght@400..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
  text-decoration: none;
  list-style: none;
}

button {
  height: 40px;
  width: 130px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 30px;
  border: 2px solid #000;
  background-color: #bff747;
  box-shadow: 0 5px 1px #fdfde1;
  cursor: pointer;
  transition: .6s;
}

button:hover {
  box-shadow: 0 0 1px #fdfde1 ;
}

.section {
  padding: 100px 12%;
  display: flex;
  justify-content: space space-between;
  background-color: rgb(255, 255, 245);
}

.section_title {
  font-size: 60px;
  margin: 20px 0;
  line-height: 30px;
  font-family: 'Syne';
  text-align: center;
  font-weight: 700;
}

.section_title img {
    margin-left: 15px;
    animation: Anim_roll 5s infinite linear;
    margin-top: 15px;

}

@keyframes Anim_roll {
    100%{
        transform: rotate(360deg);
    }
}