.nav {
    height: 80px;
    width: 100%;
    background-color: #1e1e1e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12%;
}

.logo a {
    font-size: 30px;
    font-weight: 700;
    color: #fdfde1;
    font-family: "Syne";
}

.nav ul li {
    display: inline-block;
    margin: 0 10px;
}

.nav ul li a {
    color: #fdfde1;
    position: relative;
}

.nav ul li a::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: #fdfde1;
    transition: .6s;
}

.nav ul li:hover a::after {
    width: 100%;
}


#bars {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    background-color: #bff747;
    color: #000;

    display: none;
}


@media screen and (max-width:1100px) {
    #bars {
        display: flex;
    }

    .nav {
        position: relative;
        border-bottom: 0.2px solid #fdfde1;
    }

    .nav ul {
        position: absolute;
        top: 101%;
        left: 0;
        background-color: #1e1e1e;
        width: 100%;
        height: 0;
        transition: .6s;
        z-index: -1;
        overflow: hidden;
    }
    
    .nav ul li{
        display: block;
        margin: 30px 0;
        padding: 20px 0;
        padding-left: 12%;
    }

    .nav .activeNav{
        z-index: 99;
        height: 600px;
    }
}

@media screen and (max-width:480px) {

    .logo a {
        font-size: 24px;
    }

    .nav {
        padding: 0 5%;
    }

    .nav ul li {
        padding-left: 5%;
        margin: 20px 0;
    }

    #bars {
        height: 35px;
        width: 35px;
    }

}
